<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.vishalaxi.receiveractivity">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ChicagoViewerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
          <intent-filter>
               <action android:name="com.app.SendBChicago" />
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>

        </activity>
        <activity
            android:name=".IndianapolisViewerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.app.SendBIndianaPolis" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000000">
                <action android:name="com.app.SendBChicago" ></action>
            </intent-filter>
            <intent-filter android:priority="1000000">
                <action android:name="com.app.SendBIndianaPolis" ></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
